/* Estilo para el Sidebar */
.pf-v6-c-sidebar {
    width: 250px; /* Ancho del sidebar cuando está expandido */
    height: 100vh; /* Altura completa de la ventana */
    background-color: #f0f0f0; /* Color de fondo gris */
    color: #333; /* Color del texto */
    transition: width 0.3s; /* Transición suave para el ancho */
}

.pf-v6-c-sidebar.collapsed {
    width: 80px; /* Ancho del sidebar cuando está colapsado, mostrando solo iconos */
}

.pf-v6-c-nav__link-text,
.section-title-text {
    display: inline; /* Mostrar el texto de los enlaces */
    transition: opacity 0.3s; /* Transición suave para el texto */
}

.pf-v6-c-sidebar.collapsed .pf-v6-c-nav__link-text  {
    display: none; /* Ocultar el texto de los enlaces cuando el sidebar está colapsado */
}

/* Estilos adicionales para ajustar la vista y el diseño */
.pf-v6-c-nav__list {
    padding-left: 0; /* Eliminar el padding izquierdo de la lista */
}

.pf-v6-c-nav__item {
    list-style: none; /* Eliminar el estilo de lista */
}

.pf-v6-c-button.pf-m-plain {
    margin-left: auto; /* Alinear el botón de colapsar a la derecha */
}

.pf-v6-c-sidebar__panel {
    margin-left: 0; /* Eliminar margen izquierdo */
}

/* Estilo para los iconos */
.pf-v6-c-nav__link-icon {
    color: #333; /* Color del icono */
}

/* Estilo para los links */
.pf-v6-c-nav__link {
    color: #333; /* Color del texto del link */
}

.menu-icon {
    vertical-align: middle;
    margin-right: 8px;
}

.draggable-card {
    cursor: move; /* Cambia el cursor cuando se pasa sobre la tarjeta para indicar que es arrastrable */
}

/* Resaltar las tarjetas mientras se arrastran */
.pf-v6-l-grid__item.dragging {
    border: 2px dashed #007bba;
    background-color: #e7f3fc;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0; /* Ajusta el color de fondo según tus necesidades */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer .pf-c-link {
    color: #007bba; /* Color del enlace */
}


